# PostgreSQL
dbHost=aws-0-ap-south-1.pooler.supabase.com
dbPort=5432
user=postgres.auixfgfeptxnbusfxbuu
database=postgres
password=arShad@786
DB_SSL=true

# JWT
JWT_SECRET=hello user
JWT_ALGORITHM=HS256

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=Leave-Portal-Users

# Frontend
FRONTEND_ORIGIN=
